In [1]:
import numpy as np
import pandas as pd
import cv2
from os import listdir
from PIL import Image

- Download UTKFace original at [link](https://www.kaggle.com/datasets/jangedoo/utkface-new)
- Download UTKFace convert to file .csv at [link](https://www.kaggle.com/datasets/lngcthun/utkface-convert-csv)

In [28]:
path = "./UTKFace/"
age = []
gender = []
ethnicity = []
img = []
columns = ["age", "gender", "ethnicity", "image"]
utkface = pd.DataFrame(columns=columns)
for image in listdir(path):
    age.append(image.split('_')[0])
    gender.append(image.split('_')[1])
    ethnicity.append(image.split('_')[2])
    test = cv2.resize(cv2.imread(path+image), dsize = (50,50)).reshape(-1)
    s = ''.join(str(x) + ' ' for x in test).strip()
    img.append(s)
# gg = cv2.resize(cv2.imread('./UTKFace/1_0_2_20161219162518471.jpg.chip.jpg'), dsize = (50,50)).reshape(-1)
# s = ''.join(str(x) + ' ' for x in gg).strip()
# s

In [29]:
utkface.age = age
utkface.gender = gender
utkface.ethnicity =ethnicity
utkface.image = img
utkface

       age gender ethnicity                                              image
0      100      0         0  196 201 210 183 190 199 128 137 146 143 154 16...
1      100      0         0  136 125 121 136 126 122 126 120 115 91 86 81 6...
2      100      1         0  242 236 232 204 182 171 144 116 99 173 149 133...
3      100      1         0  93 82 78 93 82 78 93 82 78 93 82 78 93 82 78 9...
4      100      1         0  82 71 67 83 72 68 101 90 86 151 140 136 159 15...
...    ...    ...       ...                                                ...
23703    9      1         3  255 255 254 253 254 252 254 255 253 251 252 25...
23704    9      1         3  2 2 2 3 2 2 4 0 0 9 3 4 9 1 1 9 4 3 9 5 4 5 3 ...
23705    9      1         4  198 209 218 187 207 211 177 198 198 107 125 12...
23706    9      1         4  7 9 7 8 9 7 11 10 6 14 14 9 16 20 24 26 36 56 ...
23707    9      1         4  145 175 246 100 125 180 75 92 126 45 58 76 67 ...

[23708 rows x 4 columns]

In [30]:
utkface.to_csv('./utkface.csv')

In [4]:
utkface1 = utkface.copy()
utkface1.sort_values(by='age', inplace=True)
utkface1

NameError: name 'utkface' is not defined

In [32]:
utkface1.to_csv('./utkface_sortAge.csv')

In [2]:
df = pd.read_csv('./utkface_sortAge.csv')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df

,age,gender,ethnicity,image
0,1,1,0,109 146 198 132 169 221 134 171 223 137 174 22...
1,1,0,3,0 1 2 2 1 1 5 1 0 11 3 3 1 0 6 27 35 45 97 111...
2,1,0,3,54 64 91 55 66 95 56 72 105 58 76 113 67 85 12...
3,1,0,3,80 98 125 77 94 129 113 131 169 147 169 201 16...
4,1,0,3,63 55 96 58 51 94 72 67 112 83 80 126 91 90 13...
...,...,...,...,...
23703,115,1,1,175 211 219 177 210 219 176 206 215 166 195 20...
23704,116,1,0,12 76 199 41 60 149 60 87 123 96 118 167 119 1...
23705,116,1,0,61 77 93 70 88 104 77 97 115 81 102 123 85 109...
23706,116,1,2,193 208 210 183 201 206 177 197 207 160 184 19...
23707,116,1,3,145 150 97 145 158 113 122 137 146 50 159 177 ...